// Define variables for your color scheme

// For example:
$red: #D91E36;
$red-medium: rgba(#D91E36, 0.7);
$red-pale: rgba(#D91E36, 0.35);

$yellow: #F1D302;
$yellow-medium: rgba(#F1D302, 0.7);
$yellow-pale: rgba(#F1D302, 0.35);


$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
